## MAP

In [2]:
import pandas as pd

In [102]:
data = {'Name':['Tom', 'nick', 'krISH', 'jack', 'umAIr', 'taha', 'aZAAm'], 'MasterSkuGuid':['1D2F9E8E-AD16-4682-AF5B-008FEA8C8D85', 'C7E0C99F-925D-47C7-9B26-818D4F78200A', 'B06D62AE-E665-4876-9DDC-5A358C709147', '0356CFF9-C54E-450E-98A2-1FADBBF9AB74', 'C7E0C99F-925D-47C7-9B26-818D4F78200A', 'C7E0C99F-925D-47C7-9B26-818D4F78200A', 'C7E0C99F-925D-47C7-9B26-818D4F78200A'], 
       'City': ['Sydney','Karachi','Tokyo','Lahore', 'Karachi', 'Sydney','Karachi'], 'Age':['23','33','4','22','55','21','65']}

df = pd.DataFrame(data)

In [16]:
df

    Name                         MasterSkuGuid     City Age
0    Tom  1D2F9E8E-AD16-4682-AF5B-008FEA8C8D85   Sydney  23
1   nick  C7E0C99F-925D-47C7-9B26-818D4F78200A  Karachi  33
2  krISH  B06D62AE-E665-4876-9DDC-5A358C709147    Tokyo   4
3   jack  0356CFF9-C54E-450E-98A2-1FADBBF9AB74   Lahore  22
4  umAIr  C7E0C99F-925D-47C7-9B26-818D4F78200A  Karachi  55
5   taha  C7E0C99F-925D-47C7-9B26-818D4F78200A   Sydney  21
6  aZAAm  C7E0C99F-925D-47C7-9B26-818D4F78200A  Karachi  65

In [14]:
def abc(b):
    if b == 3:
        return 999
    else:
        return "no"

In [15]:
b = [33,11,54,3,2]
a = list(map(abc, b))

In [18]:
b

[33, 11, 54, 3, 2]

In [66]:
def xyz(df):
    print(str(df[0]).lower()) 
    df[0]=str(df[0]).lower()
    return df

In [84]:
df = list(map(xyz, df.values.tolist()))

tom
nick
krish
jack
umair
taha
azaam

In [85]:
pd.DataFrame(df)

       0                                     1        2   3
0    tom  1D2F9E8E-AD16-4682-AF5B-008FEA8C8D85   Sydney  23
1   nick  C7E0C99F-925D-47C7-9B26-818D4F78200A  Karachi  33
2  krish  B06D62AE-E665-4876-9DDC-5A358C709147    Tokyo   4
3   jack  0356CFF9-C54E-450E-98A2-1FADBBF9AB74   Lahore  22
4  umair  C7E0C99F-925D-47C7-9B26-818D4F78200A  Karachi  55
5   taha  C7E0C99F-925D-47C7-9B26-818D4F78200A   Sydney  21
6  azaam  C7E0C99F-925D-47C7-9B26-818D4F78200A  Karachi  65

In [87]:
df

[['tom', '1D2F9E8E-AD16-4682-AF5B-008FEA8C8D85', 'Sydney', '23'],
 ['nick', 'C7E0C99F-925D-47C7-9B26-818D4F78200A', 'Karachi', '33'],
 ['krish', 'B06D62AE-E665-4876-9DDC-5A358C709147', 'Tokyo', '4'],
 ['jack', '0356CFF9-C54E-450E-98A2-1FADBBF9AB74', 'Lahore', '22'],
 ['umair', 'C7E0C99F-925D-47C7-9B26-818D4F78200A', 'Karachi', '55'],
 ['taha', 'C7E0C99F-925D-47C7-9B26-818D4F78200A', 'Sydney', '21'],
 ['azaam', 'C7E0C99F-925D-47C7-9B26-818D4F78200A', 'Karachi', '65']]

NOW

In [178]:
def xyz(df):
    for i in range(0,len(df)):
        df['Name'][i] = str(df['Name'][i]).lower()
    return df

In [179]:
df = list(map(xyz, [df]))

In [181]:
df[0]

    Name                         MasterSkuGuid     City Age
0    tom  1D2F9E8E-AD16-4682-AF5B-008FEA8C8D85   Sydney  23
1   nick  C7E0C99F-925D-47C7-9B26-818D4F78200A  Karachi  33
2  krish  B06D62AE-E665-4876-9DDC-5A358C709147    Tokyo   4
3   jack  0356CFF9-C54E-450E-98A2-1FADBBF9AB74   Lahore  22
4  umair  C7E0C99F-925D-47C7-9B26-818D4F78200A  Karachi  55
5   taha  C7E0C99F-925D-47C7-9B26-818D4F78200A   Sydney  21
6  azaam  C7E0C99F-925D-47C7-9B26-818D4F78200A  Karachi  65

## FILTER

In [69]:
def pqr(d):
    return d == 55555

In [73]:
d = [55555,21,11,453,567]

m = list(filter(pqr,d))

In [74]:
m

[55555]

In [90]:
df = df[0]

KeyError: 0

In [111]:
df['Name']

0      Tom
1     nick
2    krISH
3     jack
4    umAIr
5     taha
6    aZAAm
Name: Name, dtype: object

In [93]:
a=df.filter(['Name','City'])

In [94]:
a

    Name     City
0    Tom   Sydney
1   nick  Karachi
2  krISH    Tokyo
3   jack   Lahore
4  umAIr  Karachi
5   taha   Sydney
6  aZAAm  Karachi

## PARALLEL LISTS

In [58]:
listA = ['Umair Hanif', 'Usama Ahmed', 'Usama Moin', 'Azhar']
listB = ['DSU','FAST','German','French']

for i in range(0,len(listA)):
    for j in range(0,len(listB)):
        if listB[j] == 'German':
            i = j
            print(listA[i] + " studying in " + listB[j] + " university")
    break

Usama Moin studying in German university

In [113]:
listA = ['Umair Hanif', 'Usama Ahmed', 'Usama Moin', 'Azhar', 'Taha']
listB = ['DSU','FAST','German','French']

print(listA[:-1])

z = tuple(zip(listA,listB))

['Umair Hanif', 'Usama Ahmed', 'Usama Moin', 'Azhar']

In [60]:
z

(('Umair Hanif', 'DSU'),
 ('Usama Ahmed', 'FAST'),
 ('Usama Moin', 'German'),
 ('Azhar', 'French'))

## EXCEPTION HANDLING

In [61]:
try:
    5/0
except Exception:
    print("ERORRORRRR")

ERORRORRRR

In [62]:
try:
    54.21/0
except Exception as e:
    print("Error", e)

Error float division by zero

In [63]:
try:
    54/0
except Exception as e:
    print("Error:", e)
finally:
    print("Best wishes to BITRUPT!")

Error: division by zero
Best wishes to BITRUPT!

In [66]:
try:
    n = 34/2
    print("n = ", n)
except Exception as e:
    print("Error", e)
finally:
    print("Bitrupt Cool Cups!")

n =  17.0
Bitrupt Cool Cups!

## REGEX

https://www.w3schools.com/python/python_regex.asp

In [67]:
import re

In [69]:
text = "Where we are heading towards? 034"
re.findall("\d", text)

['0', '3', '4']

In [73]:
demo = re.findall('\D', text)

In [74]:
demo

['W',
 'h',
 'e',
 'r',
 'e',
 ' ',
 'w',
 'e',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'h',
 'e',
 'a',
 'd',
 'i',
 'n',
 'g',
 ' ',
 't',
 'o',
 'w',
 'a',
 'r',
 'd',
 's',
 '?',
 ' ']

In [75]:
demo = set(demo)

In [76]:
demo

{' ', '?', 'W', 'a', 'd', 'e', 'g', 'h', 'i', 'n', 'o', 'r', 's', 't', 'w'}

In [77]:
re.findall('\?', text)

['?']

In [100]:
text = "Where are you? Idiot? !"

re.findall('\?', text)

['?', '?']

In [103]:
re.sub('where', 'how', text)

'Where are you? Idiot? !'